@import url("https://fonts.google.com/specimen/Outfit");

body {
  font-family: "Outfit";
  background-color: hsl(212, 45%, 89%);
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-code-container {
  width: 290px;
  background-color: hsl(0, 0%, 100%);
  padding: 16px 16px 30px 16px;
  border-radius: 20px;
}

.qr-code {
  background-image: url("./images/image-qr-code.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 290px;
  width: 100%;
  border-radius: 10px;
}

.text-container {
  text-align: center;
  padding: 0 15px;
  font-size: 15px;
  margin-top: 20px;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 20px;
}

p {
  color: hsl(216, 15%, 48%);
}
